

.mini-con2{
     width: 80px;
    height: 4px;
    background-color: #1866e3;
    margin: 0 auto 40px auto;
    border-radius: 2px;
}

.skills-section{
    padding: 60px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(245, 249, 253);

}

/* ICON BASE STYLE */
.skill-card1 > i,
.skill-card2 > i,
.skill-card3 > i,
.skill-card4 > i {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.content i {
    margin-right: 8px;
    margin-top: 15px;
}
.skill-card1 > i {
  background-color: rgb(0, 89, 255);
}

.skill-card2 > i {
  background-color: rgb(0, 125, 10);
}

.skill-card3 > i {
  background-color: rgb(255, 55, 0);
}

.skill-card4 > i {
  background-color: rgb(255, 170, 0);
}

.content p{
    font-weight: 500;
    color: black;
}

.skill-card1 > i,
.skill-card2 > i,
.skill-card3 > i,
.skill-card4 > i {
  transition: transform 0.2s ease;
}

.skill-card1:hover > i,
.skill-card2:hover > i,
.skill-card3:hover > i,
.skill-card4:hover > i {
  transform: scale(1.08);
}


.skills-card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

