.footer {
  background: linear-gradient(180deg, #1b1b1b, #121212);
  color: #ccc;
  padding: 60px 80px 20px;
  font-family: "Inter", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 60px;
  padding-bottom: 40px;
}

/* Brand */
.footer-brand img {
  width: 140px;
  margin-bottom: 20px;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.7;
  max-width: 380px;
}

/* Icons */
.icons-con {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.icons-con i {
  width: 36px;
  height: 36px;
  background: #1f1f1f;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.icons-con i:hover {
  background: #2563eb;
}

/* Links */
.footer-links h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #2563eb;
}

.footer-links a{
  text-decoration: none;
  color: inherit;
}

/* Bottom */


@media (max-width: 768px) {
  .footer {
    padding: 50px 20px 20px;
  }

  .footer-container {
    grid-template-columns: 1fr; /* stack vertically */
    gap: 40px;
    text-align: left;
  }

  .footer-brand p {
    max-width: 100%;
  }

  .icons-con {
    justify-content: flex-start;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
