

.contact-section {
  padding: 80px 20px;
  font-family: system-ui, sans-serif;
    background-color: #ffffff;
}

.contact-header {
  text-align: center;
}

.contact-header h2 {
  font-size: 2.5rem;
}

.contact-header p {
  color: #777;
}

.header-line {
  width: 60px;
  height: 3px;
  background: #3b82f6;
  margin: 15px auto;
  border-radius: 10px;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 50px;
}

.contact-info-card,
.contact-form-card {
  background: white;
  border-radius: 18px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.desc {
  color: #666;
  margin-bottom: 30px;
}

.info-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.email { background: #3b82f6; }
.phone { background: #22c55e; }
.location { background: #8b5cf6; }

hr {
  margin: 30px 0;
  border: none;
  height: 1px;
  background: #eee;
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.socials i {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f0f4fa;
   display: flex;
  align-items: center;
  justify-content: center;
}

.socials a {
  text-decoration: none;
  color: inherit;
}

.socials i:hover {
  color: rgb(255, 255, 255);
  background-color: #3b82f6;
}

.quick-response {
  margin-top: 30px;
  background: linear-gradient(135deg, #4ade80, #fde68a);
  padding: 18px;
  border-radius: 16px;
  display: flex;
  gap: 15px;
  color: white;
}

.contact-form-card form {
  display: flex;
  flex-direction: column;
}

.contact-form-card label {
  margin-top: 15px;
  font-weight: 600;
}

.contact-form-card input,
.contact-form-card textarea {
  margin-top: 8px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.contact-form-card button {
  margin-top: 25px;
  background: #3b82f6;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.secure {
  margin-top: 15px;
  font-size: 0.85rem;
  text-align: center;
  color: #777;
}

.contact-cta {
  margin-top: 80px;
  padding: 60px 30px;
  border-radius: 24px;
  text-align: center;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  color: white;
}

.cta-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary,
.secondary {
  padding: 12px 22px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
}

.primary { background: white; color: #3b82f6; }
.secondary { background: transparent; border: 1px solid white; color: white; }

.secondary a {
  text-decoration: none;
  color: white;
}

.primary a {
  text-decoration: none;
  color: #3b82f6;
}

@media (max-width: 900px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

}